venv/
.venv/
__pycache__/
.pytest_cache/
.DS_Store
.env
.env.*
!.env.example
node_modules/
dist/
*.pyc
*.pyo
*.pyd
.db
.sqlite3
.DS_Store
.vscode/
.idea/
build/
*.pdf
static/avatars/*
!static/avatars/.gitkeep
static/logos/*
!static/logos/company_logo.jpg
